{% extends "UserBundle::securitylayout.html.twig" %}

{% block title %} Login {% endblock %}
{% block content %}

            <div class="admin-form theme-info mw500" id="login">

                <!-- Login Logo -->
                <div class="row table-layout">
                    <a href="dashboard.html" title="Return to Dashboard">
                        <img src="assets/img/logos/logo.png" title="AdminDesigns Logo" class="center-block img-responsive" style="max-width: 275px;">
                    </a>
                </div>

                <!-- Login Panel/Form -->
                <div class="panel mt30 mb25">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form action="{{ path('login_check') }}" method="POST" id="contact">
                        <div class="panel-body bg-light p25 pb15">



                            <!-- Username Input -->
                            <div class="section">
                                <label for="username" class="field-label text-muted fs18 mb10">Username</label>
                                <label for="username" class="field prepend-icon">
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="gui-input" placeholder="Enter username">
                                    <label for="username" class="field-icon">
                                        <i class="fa fa-user"></i>
                                    </label>
                                </label>
                            </div>

                            <!-- Password Input -->
                            <div class="section">
                                <label for="password" class="field-label text-muted fs18 mb10">Password</label>
                                <label for="password" class="field prepend-icon">
                                    <input type="password" id="password" name="_password" class="gui-input" placeholder="Enter password">
                                    <label for="password" class="field-icon">
                                        <i class="fa fa-lock"></i>
                                    </label>
                                </label>
                            </div>
                        </div>

                        <div class="panel-footer clearfix">
                            <button type="submit" class="button btn-primary mr10 pull-right">Sign In</button>
                            <label class="switch ib switch-primary mt10">
                                <input type="checkbox" name="remember" id="remember" checked>
                                <label for="remember" data-on="YES" data-off="NO"></label>
                                <span>Remember me</span>
                            </label>
                        </div>

                    </form>
                </div>

                <!-- Registration Links -->
                <div class="login-links">
                    <p>
                        <a href="pages_forgotpw(alt).html" class="active" title="Sign In">Forgot Password?</a>
                    </p>
                    <p>Haven't yet Registered?
                        <a href="pages_register(alt).html" title="Sign In">Sign up here</a>
                    </p>
                </div>

                <!-- Registration Links(alt) -->
                <div class="login-links hidden">
                    <a href="pages_login-alt.html" class="active" title="Sign In">Sign In</a> |
                    <a href="pages_register-alt.html" class="" title="Register">Register</a>
                </div>

            </div>

        </section>
        <!-- End: Content -->

   {% endblock %}
