<header class="navbar navbar-fixed-top navbar-shadow">
    <div class="navbar-branding">
        <a class="navbar-brand" href="dashboard.html">
            <b>PaP</b>Admin
        </a>
        <span id="toggle_sidemenu_l" class="ad ad-lines"></span>
    </div>
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown menu-merge hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-dashboard"></i> Actions Rapides
                <span class="caret caret-tp"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </li>
        <li class="hidden-xs">
            <a class="request-fullscreen toggle-active" href="#">
                <span class="ad ad-screen-full fs18"></span>
            </a>
        </li>
    </ul>
    <form class="navbar-form navbar-left navbar-search alt" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search..." value="Search...">
        </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div class="navbar-btn btn-group">
                <a href="#" class="topbar-menu-toggle btn btn-sm" data-toggle="button">
                    <span class="ad ad-wand"></span>
                </a>
            </div>
        </li>
        <li class="dropdown menu-merge">
            <div class="navbar-btn btn-group">
                <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                    <span class="fa fa-bell-o fs14 va-m"></span>
                    <span class="badge badge-danger">9</span>
                </button>
                <div class="dropdown-menu dropdown-persist w350 animated animated-shorter fadeIn" role="menu">
                    <div class="panel mbn">
                        <div class="panel-menu">
                            <span class="panel-icon"><i class="fa fa-clock-o"></i></span>
                            <span class="panel-title fw600"> Recent Activity</span>
                            <button class="btn btn-default light btn-xs pull-right" type="button"><i class="fa fa-refresh"></i></button>
                        </div>
                        <div class="panel-body panel-scroller scroller-navbar scroller-overlay scroller-pn pn">
                            <ol class="timeline-list">
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-dark light">
                                        <span class="fa fa-tags"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Michael</b> Added to his store:
                                        <a href="#">Ipod</a>
                                    </div>
                                    <div class="timeline-date">1:25am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-dark light">
                                        <span class="fa fa-tags"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Sara</b> Added his store:
                                        <a href="#">Notebook</a>
                                    </div>
                                    <div class="timeline-date">3:05am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-success">
                                        <span class="fa fa-usd"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Admin</b> created invoice for:
                                        <a href="#">Software</a>
                                    </div>
                                    <div class="timeline-date">4:15am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-success">
                                        <span class="fa fa-usd"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Admin</b> created invoice for:
                                        <a href="#">Apple</a>
                                    </div>
                                    <div class="timeline-date">7:45am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-success">
                                        <span class="fa fa-usd"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Admin</b> created invoice for:
                                        <a href="#">Software</a>
                                    </div>
                                    <div class="timeline-date">4:15am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-success">
                                        <span class="fa fa-usd"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Admin</b> created invoice for:
                                        <a href="#">Apple</a>
                                    </div>
                                    <div class="timeline-date">7:45am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-dark light">
                                        <span class="fa fa-tags"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Michael</b> Added his store:
                                        <a href="#">Ipod</a>
                                    </div>
                                    <div class="timeline-date">8:25am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-system">
                                        <span class="fa fa-fire"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Admin</b> created invoice for:
                                        <a href="#">Software</a>
                                    </div>
                                    <div class="timeline-date">4:15am</div>
                                </li>
                                <li class="timeline-item">
                                    <div class="timeline-icon bg-dark light">
                                        <span class="fa fa-tags"></span>
                                    </div>
                                    <div class="timeline-desc">
                                        <b>Sara</b> Added to his store:
                                        <a href="#">Notebook</a>
                                    </div>
                                    <div class="timeline-date">3:05am</div>
                                </li>
                            </ol>

                        </div>
                        <div class="panel-footer text-center p7">
                            <a href="#" class="link-unstyled"> View All </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="dropdown menu-merge">
            <div class="navbar-btn btn-group">
                <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                    <span class="ad ad-radio-tower fs14 va-m"></span>
                    <span class="badge">5</span>
                </button>
                <div class="dropdown-menu dropdown-persist w350 animated animated-shorter fadeIn" role="menu">
                    <div class="panel mbn">
                        <div class="panel-menu">
                            <div class="btn-group btn-group-justified btn-group-nav" role="tablist">
                                <a href="#nav-tab1" data-toggle="tab" class="btn btn-default btn-sm active">Notifications</a>
                                <a href="#nav-tab2" data-toggle="tab" class="btn btn-default btn-sm br-l-n br-r-n">Messages</a>
                                <a href="#nav-tab3" data-toggle="tab" class="btn btn-default btn-sm">Activity</a>
                            </div>
                        </div>
                        <div class="panel-body panel-scroller scroller-navbar pn">
                            <div class="tab-content br-n pn">
                                <div id="nav-tab1" class="tab-pane alerts-widget active" role="tabpanel">
                                    <div class="media">
                                        <a class="media-left" href="#"> <span class="glyphicon glyphicon-user text-info"></span> </a>
                                        <div class="media-body">
                                            <h5 class="media-heading">New Registration
                                                <small class="text-muted"></small>
                                            </h5> Tyler Durden - 16 hours ago

                                        </div>
                                        <div class="media-right">
                                            <div class="media-response"> Approve?</div>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default btn-xs light">
                                                    <i class="fa fa-check text-success"></i>
                                                </button>
                                                <button type="button" class="btn btn-default btn-xs light">
                                                    <i class="fa fa-remove"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div id="nav-tab2" class="tab-pane chat-widget" role="tabpanel">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#">
                                                {#<img class="media-object" alt="64x64" src="assets/img/avatars/3.jpg">#}
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <span class="media-status online"></span>
                                            <h5 class="media-heading">Courtney Faught
                                                <small> - 12:30am</small>
                                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
                                        </div>
                                    </div>

                                </div>
                                <div id="nav-tab3" class="tab-pane scroller-nm" role="tabpanel">
                                    <ul class="media-list" role="menu">
                                        <li class="media">
                                            <a class="media-left" href="#">
                                                {#<img src="assets/img/avatars/5.jpg" class="mw40" alt="avatar"> #}
                                            </a>
                                            <div class="media-body">
                                                <h5 class="media-heading">Article
                                                    <small class="text-muted">- 08/16/22</small>
                                                </h5> Last Updated 36 days ago by
                                                <a class="text-system" href="#"> Max </a>
                                            </div>
                                        </li>
                                    </ul>
                                    <table class="table table-striped hidden">
                                        <thead>
                                        <tr>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Username</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <td>Sussy</td>
                                            <td>Watcher</td>
                                            <td>@thehawk</td>
                                        </tr>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Sussy</td>
                                            <td>Watcher</td>
                                            <td>@thehawk</td>
                                        </tr>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        <tr>
                                            <td>Larry</td>
                                            <td>the Bird</td>
                                            <td>@twitter</td>
                                        </tr>
                                        <tr>
                                            <td>Sussy</td>
                                            <td>Watcher</td>
                                            <td>@thehawk</td>
                                        </tr>
                                        <tr>
                                            <td>Mark</td>
                                            <td>Otto</td>
                                            <td>@mdo</td>
                                        </tr>
                                        <tr>
                                            <td>Jacob</td>
                                            <td>Thornton</td>
                                            <td>@fat</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-center p7">
                            <a href="#" class="link-unstyled"> View All </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>

        <li class="menu-divider hidden-xs">
            <i class="fa fa-circle"></i>
        </li>
        <li class="dropdown menu-merge">
            <a href="#" class="dropdown-toggle fw600 p15" data-toggle="dropdown">
                {#<img src="assets/img/avatars/1.jpg" alt="avatar" class="mw30 br64">#}
                <span class="hidden-xs pl15"> {{ app.user.username }} </span>
                <span class="caret caret-tp hidden-xs"></span>
            </a>
            <ul class="dropdown-menu list-group dropdown-persist w250" role="menu">
                <li class="list-group-item">
                    <a href="#" class="animated animated-short fadeInUp">
                        <span class="fa fa-envelope"></span> Messages
                        <span class="label label-warning">2</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="animated animated-short fadeInUp">
                        <span class="fa fa-user"></span> Friends
                        <span class="label label-warning">6</span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="animated animated-short fadeInUp">
                        <span class="fa fa-bell"></span> Notifications </a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="animated animated-short fadeInUp">
                        <span class="fa fa-gear"></span> Settings </a>
                </li>
                <li class="dropdown-footer">
                    <a href="{{ path('logout') }}" class="">
                        <span class="fa fa-power-off pr5"></span> Logout </a>
                </li>
            </ul>
        </li>
    </ul>
</header>
<aside id="sidebar_left" class="nano nano-light affix">

    <!-- Start: Sidebar Left Content -->
    <div class="sidebar-left-content nano-content">

        <!-- Start: Sidebar Header -->
        <header class="sidebar-header">

            <!-- Sidebar Widget - Menu (Slidedown) -->
            <div class="sidebar-widget menu-widget">
                <div class="row text-center mbn">
                    <div class="col-xs-4">
                        <a href="dashboard.html" class="text-primary" data-toggle="tooltip" data-placement="top" title="Dashboard">
                            <span class="glyphicon glyphicon-home"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="pages_messages.html" class="text-info" data-toggle="tooltip" data-placement="top" title="Messages">
                            <span class="glyphicon glyphicon-inbox"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="pages_profile.html" class="text-alert" data-toggle="tooltip" data-placement="top" title="Tasks">
                            <span class="glyphicon glyphicon-bell"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="pages_timeline.html" class="text-system" data-toggle="tooltip" data-placement="top" title="Activity">
                            <span class="fa fa-desktop"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="pages_profile.html" class="text-danger" data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="fa fa-gears"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="pages_gallery.html" class="text-warning" data-toggle="tooltip" data-placement="top" title="Cron Jobs">
                            <span class="fa fa-flask"></span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Sidebar Widget - Author (hidden)  -->
            <div class="sidebar-widget author-widget hidden">
                <div class="media">
                    <a class="media-left" href="#">
                        {#<img src="assets/img/avatars/3.jpg" class="img-responsive">#}
                    </a>
                    <div class="media-body">
                        <div class="media-links">
                            <a href="#" class="sidebar-menu-toggle">User Menu -</a> <a href="pages_login(alt).html">Logout</a>
                        </div>
                        <div class="media-author">Michael Richards</div>
                    </div>
                </div>
            </div>

            <!-- Sidebar Widget - Search (hidden) -->
            <div class="sidebar-widget search-widget hidden">
                <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-search"></i>
              </span>
                    <input type="text" id="sidebar-search" class="form-control" placeholder="Search...">
                </div>
            </div>

        </header>
        <!-- End: Sidebar Header -->