{%  extends "BackBundle::layout.html.twig" %}
{% block title "Annoucement Edit" %}


{% block content %}


    <div class="admin-form theme-primary mw1000 center-block" style="padding-bottom: 175px;">

        <div class="panel heading-border">

            {% include 'BackBundle:Announcement:_form.html.twig'%}


        </div>

    </div>


{% endblock %}